.image-grid {
	margin: 1em 0;
	@extend %clearfix;
	.list-item {
		float: right;
		width: 25%;
		margin: 0;
		padding: 0.2em 0 0 0.2em;
		&.feature-img {
			float: left;
			width: 50%;
		}
	}
	.image {
		display: block;
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 600px) {
	.image-grid {
		.list-item {
			width: 33.3%;
			padding: 0.4em 0 0 0.6em;
			&.feature-img {
				width: 66.6%;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.image-grid {
		.list-item,
		.list-item.feature-img {
			float: left;
			width: 50%;
			padding: 0.4em 0.2em 0;
		}
	}
}

@media screen and (max-width: 400px) {
	.image-grid {
		.list-item,
		.list-item.feature-img {
			width: 100%;
			padding: 0 0 0.6em 0;
		}
	}
}