body {
	font: 16px/26px Arial, Helvetica, Helvetica Neue;
	color: #023F5F;
}

* {
	@include box-sizing(border-box);
}

.clearfix {
	@extend %clearfix;
}

.hidden {
	display: none;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

a {
	color: inherit;
}

/* Warpper class applied to multiple elements */
.wrapper {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	.lt-ie9 & {
		min-width: 780px;
	}
}

@media screen and (max-width: 800px) {
	.wrapper {
		width: 96%;
		max-width: none;
		margin: 0 2%;
	}
}

/* Off canvas styles */
.canvas-outer {
	position: relative;
	width: 100%;
	overflow: hidden;
	.lt-ie9 & {
		overflow: visible;
	}
}
.canvas-inner {
	position: relative;
	width: 100%;
	right: 0;
	@include transition(right 0.4s);
	.secondary-nav-opened & {
		right: 70%;
	}
	.lt-ie9 & {
		& > div {
			min-width: 780px;
		}
	}
}